@import './reset.css';
@import './pagination.css';

:root {
    --purple-400: #4b1aff;
    /* --purple-400: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(75,26,255,1) 100%); */
    --bg: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(75,26,255,1) 100%);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

