.pagination {
    height: 100%;
    display: flex;
    gap: .5rem;
}
.page-item {
    display: flex;
}
.page-item a {
    cursor: pointer;
    color: var(--purple-400);
    background: white;
    border-radius: 14px;
    border: 1px rgba(0, 0, 0, 0.25) solid;
    padding: .75rem;
}
.page-item.active a {
    color: white;
    background: var(--purple-400);
    cursor: default;
}
.page-item.disabled a {
    color: rgba(0, 0, 0, 0.25);
    cursor: default;
}